body {
    margin: 0;
    background-color: #1b1819;
    font-family: "Roboto", sans-serif;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #1b1819;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.nav-link-border:focus,
.nav-link-border:hover {
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
}

.nav-link-border.active {
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
    position: relative;
}


/* .nav-link-border:hover::after {
    display: block;
    content: '';
    position: relative;
    top: 2px;
    left: 0;
    border: 0px;
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
    opacity: 0.8;
    filter: blur(4px);
} */

.nav-link-border.active::after {
    display: block;
    content: '';
    position: relative;
    top: 2px;
    left: 0;
    border: 0px;
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
    opacity: 0.8;
    filter: blur(4px);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    padding-left: 7px;
    padding-right: 7px;
    vertical-align: middle;
    border-bottom: 3px solid transparent;
}

.ea-coin {
    padding: 0.5rem;
}

.ea-coin svg {
    font-size: 25px;
    color: #fff;
}

.ea-coin span.credit_coin {
    padding: 0rem 0.25rem;
    font-size: 20px;
    color: #ffd34b;
}

.notification-top {
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.notification-top svg {
    font-size: 30px;
    color: #9b999a;
}

.notification-top .badge {
    display: inline-block;
    position: absolute;
    margin-left: -0.75rem;
    padding: 0.15rem 0;
    width: 20px;
    height: 17px;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    background: rgb(28, 161, 220);
    background: linear-gradient(90deg, rgba(28, 161, 220, 1) 0%, rgba(114, 197, 239, 1) 70%, rgba(28, 161, 220, 1) 100%);
}

.login-user {
    padding: 1.2rem 1rem 1.2rem 1.5rem;
    border-left: 1px solid #9B999A;
}

.login-user .btn {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 0.25rem 1.5rem;
    margin: 0 0.75rem;
    transition: 0.5s;
    background-size: 200% auto;
}

.login-user .btn-Register {
    background: linear-gradient( 90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    color: #8A5F3C;
}

.login-user .btn-Register:hover {
    color: #fff;
}

.login-user .btn-Signin {
    background-image: linear-gradient(to right, #1ca1dc 0%, #72c5ef 40%, #1ca1dc 100%);
    color: #fff;
}

.login-user .btn-Signin:hover {
    color: #000;
    background-position: right center;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 40px;
    top: 90px;
    width: 280px;
    background-color: #231f20;
    padding: 0;
    margin: 0;
}

.list-items {
    display: flex;
    align-items: center;
    color: #fff;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #333;
}

span.icon-holder {
    background: #333;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    margin-right: 10px;
}

span.icon-holder i {
    color: #fff;
}

li:hover .list-items span.icon-holder {
    background: #000;
}

#content-header #user-nav {
    position: relative;
    margin: 0px 20px 0 10px;
    border-left: 1px solid #eee;
    padding: 0px 0px 0 20px;
}

#user-avatar {
    position: relative;
}

#user-avatar .user-avatar-border {
    border: 2px solid #88BC00;
    padding: 2.5px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    background-size: 100%;
    position: relative;
}

#user-avatar .user-avatar-img {
    display: block;
    width: 52px;
    height: 51.5px;
    padding: 2px;
    border-radius: 100%;
    overflow: hidden;
    background-size: 100%;
    position: relative;
    background-color: #fff;
}

#user-nav .avatarPic img {
    background-color: #fff;
    position: relative;
    text-align: center;
    flex: 0 0 auto;
    height: 65px;
    width: 65px;
}

#user-nav .avatarPic img {
    top: 0 !important;
    left: -7px !important;
    transform: none !important;
}

#user-name {
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 40px;
    color: #9B999A;
    font-size: 18px;
}

#user-name>span {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100px;
    font-size: 18px;
}

#user-nav #btn-userDetail {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    margin: auto;
}

#user-nav #btn-userDetail svg {
    font-size: 1.25rem;
    color: #9b999a;
}

.btn-secondary {
    color: #fff;
    background-color: #231F20;
    border-color: #231F20;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.text-success {
    color: #88bc00 !important;
}

.text-danger {
    color: #d4323f !important;
}

.text-gay {
    color: #7d8488 !important;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
}

.nav-link {
    display: block;
    padding: 0.25rem;
    margin: 0 0.5rem;
    font-size: 16px;
    font-weight: 400;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #ffc667;
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
    border-top: none;
    border-right: none;
    border-left: none;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    color: #9b999a;
    border: 0;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
}

.nav-tabs .nav-link:hover::after {
    display: block;
    content: '';
    position: relative;
    top: 8px;
    left: 0;
    border: 0px;
    border-bottom: 2px solid;
    -o-border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
    opacity: 1;
    filter: blur(4px);
    width: 100%;
}

.nav-tabs .nav-link.active::after {
    display: block;
    content: '';
    position: relative;
    top: 8px;
    left: 0;
    border: 0px;
    border-bottom: 2px solid;
    -o-border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image: linear-gradient(90deg, rgba(178, 127, 43, 1) 0%, rgba(254, 242, 163, 1) 50%, rgba(178, 127, 43, 1) 100%);
    border-image-slice: 1;
    opacity: 1;
    filter: blur(4px);
    width: 100%;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
}

table tr {
    margin-bottom: 15px;
    background-color: #373334;
    position: relative;
    border-radius: 6px;
    display: block;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border: none;
    display: inline-block;
    width: 32%;
    margin: auto;
}

.table span i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.table span i.closeEa {
    font-size: 20px;
    vertical-align: middle;
    padding-left: 10px;
}

.scrollmenu {
    /* white-space: nowrap;
    width: 360px;
    overflow-x: scroll; */
}

.nav-tabs {
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}


/* //////////////////////////////////////////// */

@media (max-width: 1200px) {}

@media (max-width: 991.98px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 425px) {}