.slick-prev {
    right: 25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: 0px;
}

.slick-prev:before {
    content: "\e5e0"
}

[dir="rtl"] .slick-prev:before {
    content: "\e5e0"
}

.slick-next {
    right: 0;
}

[dir="rtl"] .slick-next {
    left: 0px;
    right: auto
}

.slick-next:before {
    content: "\e5e1"
}

[dir="rtl"] .slick-next:before {
    content: "\e5e1"
}

.slick-dots {
    position: absolute;
    bottom: 10.3%;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 10px;
    width: 0px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    padding: 0 5px;
    color: transparent;
    cursor: pointer;
    background: #c2c2c2;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear
}

.slick-dots li button:focus {
    outline: none
}

.slick-dots li button:hover {
    background: #333;
    outline: none
}

.slick-dots li button:before {
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #c2c2c2;
    top: -5px;
    left: -5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear
}

.slick-dots li.slick-active button {
    background: none
}

.slick-dots li.slick-active button:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

@media (max-width: 426px) {
    .slick-dots {
        bottom: 5%
    }
    .slick-dots li {
        margin: 0 9px
    }
}

@media (min-width: 791px) {
    .slick-arrow-top .slick-prev {
        top: 0;
        left: auto;
        right: 42px
    }
    .slick-arrow-top .slick-next {
        top: 0;
        right: 8px
    }
}

.slick-arrow {
    pointer-events: auto
}

.slick-arrow.slick-disabled {
    pointer-events: none;
    opacity: 0.6
}

.slick-arrow {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
    position: absolute;
    z-index: 1;
    top: -25%;
    margin-top: 0;
    font-size: 0;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear
}

.slick-arrow:before {
    display: block;
    font-family: "Material Icons";
    font-size: 25px;
    line-height: 25px;
    color: #9b999a;
    padding: 7px;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear
}

.slick-arrow:hover {
    outline: none;
    border: none;
}

.slick-arrow:hover:before {
    opacity: 1;
    color: #fff;
}

@media (max-width: 992px) {
    .slick-prev {
        left: -20px;
    }
    .slick-next {
        right: -20px;
    }
    .slick-arrow:before {
        display: block;
        font-family: "Material Icons";
        font-size: 25px;
        line-height: 25px;
        color: #fff;
        padding: 5px 7px;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }
    .slick-arrow {
        display: none!important;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background: rgb(0, 82, 156);
        padding: 0;
        border: none;
        outline: none;
        position: absolute;
        z-index: 1;
        top: 50%;
        margin-top: -25px;
        border-radius: 50%;
    }
}